a.active{
    /* border-bottom: 1px solid #4099ff; */
}
.clip-path{
    clip-path: circle(65.6% at 35% 44%);
    /* clip-path: polygon(0 0, 100% 0, 82% 100%, 0% 100%); */
}
.line-aside{
    text-align: center; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}
.line-aside span{
    background:#fff; 
    padding:0 10px
}
.project:hover{
    border: 0.2px dashed white;
    padding: 1px !important;
    border-radius: 5px;
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}
@media screen and (max-width: 767px) {
    .clip-path{
        clip-path: none;
    }
}