.input__container {
  background: rgba(255, 255, 255, 0.664);
  padding: 8px 15px;
  max-width: 300px;
  transition: transform 400ms;
  transform-style: preserve-3d;
  perspective: 500px;
}

.shadow__input {
  content: "";
  left: 0;
  bottom: 0;
  z-index: -1;
  filter: blur(30px);
  background-image: radial-gradient(
      at 85% 51%,
      hsla(60, 60%, 61%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 74% 68%, hsla(235, 69%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 64% 79%, hsla(284, 72%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 16%, hsla(283, 60%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 90% 65%, hsla(153, 70%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 83%, hsla(283, 74%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 91%, hsla(213, 75%, 75%, 1) 0px, transparent 50%);
}

.input__button__shadow {
  transition: transform 400ms, background 400ms;
}

.input__button__shadow:hover {
  background: rgba(255, 255, 255, 0.411);
}
